<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data[0].username %></title>
    <link href="/asset/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>

    <div class="navigation">
       <div class="link" onclick="window.location.href='/'" ><i class="fas fa-meteor"></i> Feed</div>
       <div class="link" onclick="window.location.href='/chat'" ><i class="fas fa-people-arrows"></i> Message</div>
       <div class="link"><i class="fas fa-satellite"></i> My question</div> 
        <% if(data[1].username) {%> 
            <div class="profile" onclick="document.getElementById('control').style.display='block'">
                <div class="load-img"><div class="profile-img" style="background-image: url('/img/user/<%= data[1].username %>.jpg');"></div></div>
                <div class="profile-name"><%= data[1].username %></div>
            </div>
        <% }  else { %> 
            <div class="profile" onclick="window.location.href='/login?href=/<%= data[0].username %>'">
                <div class="profile-img" style="background-image: url('/img/user/none.jpg');"></div>
                <div class="profile-name">none</div>
            </div>
        <% } %> 
    </div>

    <div id="control" style="display: none;">
        <div class="user" >
            <div class="control">
                <div class="go-profile" onclick="window.location.href='/<%= data[1].username %>'">
                    <div class="load-img"><div class="control-img" style="background-image: url('/img/user/<%= data[1].username %>.jpg');"></div></div>
                    <div style="padding-left: 20px;">
                        <%= data[1].username %> <br>
                        go to profile
                    </div>
                </div>
                <div class="control-link" onclick="document.getElementById('control').style.display='none'"><i class="fas fa-meteor"></i> Back to feed</div>
                <!-- <div class="control-link"><i class="fas fa-code"></i> tongog API</div> -->
                <!-- <div class="control-link"><i class="fas fa-sliders-h"></i> Setting</div> -->
                <div class="control-link" onclick="window.location.href='/logout'"><i class="fas fa-sign-out-alt"></i> Log out</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="header">
            <div class="load-profile"> 
                <div class="header-img" style="background-image: url('/img/user/<%= data[0].username %>.jpg');"></div>
            </div>
            <div class="header-text">
                <%= data[0].username %> 
                <% if(data[0].username == 'algnot'){ %> 
                    <span class="admin">admin</span> 
                <% } %> <br>
                <span class="info"><%= data[0].post %></span>  post  <span class="info"><%= data[0].comment %></span> comment <br>    
                <% if(data[0].username == data[1].username){ %> 
                    <span class="send-message" onclick="document.getElementById('changProfile').style.display='block'">chang profile image</span>
                    <div id="changProfile" class="formImg" style="display: none;">
                        <div class="form">
                            <form action="/changProfile" method="post" enctype="multipart/form-data">
                                <div class="text">Insert image here</div>
                                <center>
                                    <div class="load-profile"> 
                                        <div class="header-img" id="preview-img" style="background-image: url('/img/user/<%= data[0].username %>.jpg');"></div>
                                    </div>
                                </center>
                                <input type='file' accept="image/*" id='upload-img' name="profile-image" required/>
                                <button type="submit">change image</button>
                                <div class="button" onclick="document.getElementById('changProfile').style.display='none'">cancel</div>
                            </form>
                        </div>
                    </div>
                <% } else { %> 
                        <% if(data[1].username) {%> 
                            <span class="send-message" onclick="window.location.href='/chat?u=<%= data[0].username %>'">send message</span>
                        <% }  else { %>
                            <span class="send-message" onclick="window.location.href='/login?href=/<%= data[0].username %>'">send message</span>
                        <% } %>
                <% } %> 
            </div>
        </div>

        <div class="menu">
            <div class="link active" onclick="aaaaa('0')" id="p"><i class="fas fa-file-powerpoint"></i> post</div>
            <div class="link" onclick="aaaaa('1')" id="c"><i class="fas fa-comments"></i> comment</div>
        </div>

        <div id="post"></div>
        <center><div class="loader-mobile" id="loader-mobile" onclick="hahaha()">load more post</div></center>
        <center><div class="loader" id="loader"></div></center>
    </div>

    <script>
        let count = 3; 
        var mode = 0;

        getPost(count);
        setInterval(function(){ 
            var user = document.documentElement.scrollTop;
            var window = document.body.scrollHeight;
            var h = screen.height;
            if(h + user > window+20){
                count++;
                getPost(count);
            }
        }, 1000);

        function hahaha(){
            count += 5;
            getPost(count);
        }

        setInterval(function(){ 
            getPost(count);
        }, 30000);

        function aaaaa(md){
            mode = md;
            console.log(md);
            if(md == 0){
                document.getElementById("c").classList.remove("active");
                document.getElementById("p").classList.add("active");
            } 
            if(md == 1){
                document.getElementById("p").classList.remove("active");
                document.getElementById("c").classList.add("active");
            }
            getPost(count);
        }

        function getPost(limit){
            if(count >= parseInt('<%= data[0].post %>' && count!=3)){
                document.getElementById('loader-mobile').style.display = 'none';
                document.getElementById('loader').style.display = 'none';
                return;
            }
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("post").innerHTML = xhttp.responseText;
                    if(count >= parseInt('<%= data[0].post %>')){
                        document.getElementById('loader-mobile').style.display = 'none';
                        document.getElementById('loader').style.display = 'none';
                    }
                }
            };
            xhttp.open("GET", '/getUserPost?limit='+limit + '&user=<%= data[0].username %>&mode='+mode, true);
            xhttp.send();
        }

        document.getElementById('upload-img').addEventListener('change', readURL, true);
        function readURL(){
            var file = document.getElementById("upload-img").files[0];
            var reader = new FileReader();
            reader.onloadend = function(){
               document.getElementById('preview-img').style.backgroundImage = "url(" + reader.result + ")";  
            }
            if(file){
               reader.readAsDataURL(file);
            }
        }
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
</body>
</html>