<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data[0].username %></title>
    <link href="/asset/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>

    <div class="navigation">
       <div class="link" onclick="window.location.href='/'" ><i class="fas fa-meteor"></i> Feed</div>
       <div class="link"><i class="fas fa-people-arrows"></i> Message</div>
       <div class="link"><i class="fas fa-satellite"></i> My question</div> 
       <div class="profile" onclick="document.getElementById('control').style.display='block'">
           <div class="profile-img" style="background-image: url('/img/user/<%= data[1].username %>.jpg');"></div>
           <div class="profile-name"><%= data[1].username %></div>
       </div>
    </div>

    <div id="control" style="display: none;">
        <div class="user" >
            <div class="control">
                <div class="go-profile" onclick="window.location.href='/<%= data[1].username %>'">
                    <div class="load-img"><div class="control-img" style="background-image: url('/img/user/<%= data[1].username %>.jpg');"></div></div>
                    <div style="padding-left: 20px;">
                        <%= data[1].username %> <br>
                        go to profile
                    </div>
                </div>
                <div class="control-link" onclick="document.getElementById('control').style.display='none'"><i class="fas fa-meteor"></i> Back to feed</div>
                <!-- <div class="control-link"><i class="fas fa-code"></i> tongog API</div> -->
                <!-- <div class="control-link"><i class="fas fa-sliders-h"></i> Setting</div> -->
                <div class="control-link" onclick="window.location.href='/logout'"><i class="fas fa-sign-out-alt"></i> Log out</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="header">
            <div class="load-profile"> 
                <div class="header-img" style="background-image: url('/img/user/<%= data[0].username %>.jpg');"></div>
            </div>
            <div class="header-text">
                <%= data[0].username %> 
                <% if(data[0].username == 'algnot'){ %> 
                    <span class="admin">admin</span> 
                <% } %> <br>
                <span class="info"><%= data[0].post %></span>  post  <span class="info"><%= data[0].comment %></span> comment <br>
                <div class="send-message">send message</div>
            </div>
        </div>

        <div id="post"></div>
        <center><div class="loader-mobile" id="loader-mobile" onclick="hahaha()">load more post</div></center>
        <center><div class="loader" id="loader"></div></center>
    </div>

    <script>
        let count = 3; 

        getPost(count);
        setInterval(function(){ 
            var user = document.documentElement.scrollTop;
            var window = document.body.scrollHeight;
            var h = screen.height;
            if(h + user > window+20){
                count++;
                getPost(count);
            }
        }, 1000);

        function hahaha(){
            count += 5;
            getPost(count);
        }

        setInterval(function(){ 
            getPost(count);
        }, 30000);

        function getPost(limit){
            if(count >= parseInt('<%= data[0].post %>' && count!=3)){
                document.getElementById('loader-mobile').style.display = 'none';
                document.getElementById('loader').style.display = 'none';
                return;
            }
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("post").innerHTML = xhttp.responseText;
                    if(count >= parseInt('<%= data[0].post %>')){
                        document.getElementById('loader-mobile').style.display = 'none';
                        document.getElementById('loader').style.display = 'none';
                    }
                }
            };
            xhttp.open("GET", '/getUserPost?limit='+limit + '&user=<%= data[0].username %>', true);
            xhttp.send();
        }
    </script>
</body>
</html>