<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title">chat | main</title>
    <link href="/asset/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>

    <div class="navigation">
        <div class="link" onclick="window.location.href='/'" ><i class="fas fa-meteor"></i> Feed</div>
        <div class="link active"><i class="fas fa-people-arrows"></i> Message</div>
        <div class="link" onclick="window.location.href='/game'"><i class="fas fa-satellite"></i>Game</div> 
        <div class="profile" onclick="document.getElementById('control').style.display='block'">
            <div class="load-img"><div class="profile-img" style="background-image: url('/img/user/<%= data[0].username %>.jpg');"></div></div>
            <div class="profile-name"><%= data[0].username %></div>
        </div>
    </div>

    <div id="control" style="display: none;">
        <div class="user" >
            <div class="control">
                <div class="go-profile" onclick="window.location.href='/<%= data[0].username %>'">
                    <div class="load-img"><div class="control-img" style="background-image: url('/img/user/<%= data[0].username %>.jpg');"></div></div>
                    <div style="padding-left: 20px;">
                        <%= data[0].username %> <br>
                        go to profile
                    </div>
                </div>
                <div class="control-link" onclick="document.getElementById('control').style.display='none'"><i class="fas fa-meteor"></i> Back to feed</div>
                <!-- <div class="control-link"><i class="fas fa-code"></i> tongog API</div> -->
                <!-- <div class="control-link"><i class="fas fa-sliders-h"></i> Setting</div> -->
                <div class="control-link" onclick="window.location.href='/logout'"><i class="fas fa-sign-out-alt"></i> Log out</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="inbox" id="inboxx">
            <!-- <div class="inbox-head">Inbox</div> -->
            <div class="find" onclick="openn()"><i class="fas fa-plus"></i> find your friends.</div>
            <center id="ppp"><input id="findValue" type="text" onkeyup="find()" style="width: 90%; margin-top: 10px; padding: 5px; display: none;" placeholder="enter username.."></center>
            <div id="query"></div>
            <div id="chat"></div>
            <div id="aaaa"></div>
        </div>
        
        <div class="chat-content" id="ham">
            <div class="chat-header">
                <i onclick="mobile()" class="fas fa-chevron-left ham"></i>
                <div class="load-img2" onclick="go()" id="bg-user"><div class="control-img"  style="background-image: url('/img/chatbot.png');"></div></div>
                <div class="header-name" onclick="go()" id="name-user">bot chat</div>
            </div>    

            <div class="chat-text">
                <div id="content">
                    <div class="sender">You can talk to everyone through this channel.</div>
                    <div class="receiver">Let's get started!</div>   
                </div>
                <span id="type"></span>
            </div>
            <form id="form" action="">
                <input id="input" autocomplete="off" type="text" onkeyup="keyUp()" placeholder="enter text here ...">
                <button type="submit">send</button>
            </form>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        var pri = 0 , room = 0 , scoll = 0;
        var href;
        
        socket.emit('connect server', '<%= data[0].privateCode %>');
        
        socket.on('load-header:<%= data[0].privateCode %>' , (msg) => {
            document.getElementById('chat').innerHTML = ''
            for(var i=0 ; i<msg.length ; i++){
                var user,text,cl,pri;
                if(msg[i].ch1 == '<%= data[0].privateCode %>'){
                    user = msg[i].user2
                    pri = msg[i].ch2
                } else {
                    user = msg[i].user1
                    pri = msg[i].ch1
                }
                text = msg[i].lastMassage.substring(0,15);
                if(msg[i].user1 != '<%= data[0].username %>' && msg[i].status == 1){
                    cl = 'last-text';
                } else if(msg[i].user2 != '<%= data[0].username %>' && msg[i].status == 2){
                    cl = 'last-text';
                } else {
                    cl = 'readed';
                }      
                document.getElementById('chat').innerHTML += '<div id="grid'+pri+'" class="grid" onclick="loadChat(\''+pri+'\')"><div class="load-img2"><div class="control-img" style="background-image: url(\'/img/user/'+user+'.jpg\');"><i class="fas fa-circle dot"></i></div></div><div class="user-info"><span class="user-name">'+user+'</span> <br><div class="'+cl+'" id="h'+pri+'">'+text+'</div></div></div>'
                var hash = location.hash;
                if(hash.replace("#", "") == user){
                    loadChat(pri);
                }
            }
        })
        
        socket.on('load-chat:<%= data[0].privateCode %>' , (msg) => {
            document.getElementById('content').innerHTML = '';

            for(var i=0 ; i<msg.length ; i++){
                if(msg[i].ch1 != '<%= data[0].privateCode %>'){
                    if(i != msg.length-1)
                        document.getElementById('content').innerHTML += '<div class="sender">'+msg[i].text+'</div>';
                    else
                        document.getElementById('content').innerHTML += '<div id="bbbb" class="sender">'+msg[i].text+'</div>';
                    document.getElementById('bg-user').innerHTML = '<div class="control-img"  style="background-image: url(\'/img/user/'+msg[i].form+'.jpg\');"></div>';
                    document.getElementById('name-user').innerHTML = msg[i].form;
                    document.getElementById('title').innerHTML = 'chat | ' + msg[i].form;
                    location.hash = msg[i].form;
                    pri = msg[i].ch1;
                
                } else {
                    if(i != msg.length-1)
                        document.getElementById('content').innerHTML += '<div class="receiver">'+msg[i].text+'</div>';
                    else
                        document.getElementById('content').innerHTML += '<div id="bbbb" class="receiver">'+msg[i].text+'</div>';
                    document.getElementById('bg-user').innerHTML = '<div class="control-img"  style="background-image: url(\'/img/user/'+msg[i].to+'.jpg\');"></div>';
                    document.getElementById('name-user').innerHTML = msg[i].to;
                    document.getElementById('title').innerHTML = 'chat | ' + msg[i].to;
                    location.hash = msg[i].to;
                    pri = msg[i].ch2;
                }
                room = msg[i].room;
            }
            var elmnt = document.getElementById("bbbb");
            elmnt.scrollIntoView(); 
        })

        socket.on('update:<%= data[0].privateCode %>' , (msg) => {
            var temp;
            var myobj = document.getElementById('grid'+msg.ch1);
            myobj.remove();
            temp = document.getElementById('chat').innerHTML;
            document.getElementById('chat').innerHTML = '';
            document.getElementById('chat').innerHTML += '<div id="grid'+msg.ch1+'" class="grid" onclick="loadChat(\''+msg.ch1+'\')"><div class="load-img2"><div class="control-img" style="background-image: url(\'/img/user/'+msg.form+'.jpg\');"><i class="fas fa-circle dot"></i></div></div><div class="user-info"><span class="user-name">'+msg.form+'</span> <br><div class="last-text" id="h'+msg.ch1+'">'+msg.text+'</div></div></div>'
            document.getElementById('chat').innerHTML += temp;
            document.getElementById('content').innerHTML += '<div class="sender">'+msg.text+'</div>';
        })

        form.addEventListener('submit', function(e) {
            var form = document.getElementById('form');
            var input = document.getElementById('input');

            e.preventDefault();
            if (input.value && room != 0 && pri != 0) {
              socket.emit('send', {room:room , form:'<%= data[0].username %>' , ch1:'<%= data[0].privateCode %>' , ch2:pri , text:input.value });
              document.getElementById('content').innerHTML += '<div class="receiver">'+input.value+'</div>';
              document.getElementById('h'+pri).innerHTML = input.value;
              document.getElementById('h'+pri).style.color = 'rgb(116, 116, 116)';
              var elmnt = document.getElementById("aaaa");
              elmnt.scrollIntoView();         
              input.value = '';
            }
        });

        socket.on('keyup:<%= data[0].privateCode %>', (msg) => {
            if(pri == msg.form){
                document.getElementById('type').innerHTML = '<div class="sender" style="color : #7D7C7C">typing . .</div>';  
                setTimeout(()=>{
                    document.getElementById('type').innerHTML = '';
                },3000) 
            }
        })

        socket.on('query<%= data[0].privateCode %>', (msg) => {
            document.getElementById('query').innerHTML = '';
            for(var i=0 ; i<msg.length ; i++){
                if(msg[i].username != '<%= data[0].username %>')
                    document.getElementById('query').innerHTML += '<div class="grid" onclick="window.location.href=\'/chat?u='+msg[i].username+'\'"><div class="load-img2"><div class="control-img" style="background-image: url(\'/img/user/'+msg[i].username+'.jpg\');"><i class="fas fa-circle dot"></i></div></div><div class="user-info"><span class="user-name">'+msg[i].username+'</span></div></div>'
            }
        })

        function find(){
            var value = document.getElementById('findValue').value;
            if(value)
                socket.emit('find',{ch:'<%= data[0].privateCode %>',value:value});
            else 
                document.getElementById('query').innerHTML = ''
        }

        function keyUp(){
            socket.emit('keyup',{from:'<%= data[0].privateCode %>' , to:pri});   
        }

        function loadChat(privateCode){
            pri = privateCode;
            socket.emit('req-chat',{pri1:'<%= data[0].privateCode %>' , pri2:privateCode});
            if(screen.width < 760) {
                document.getElementById('inboxx').style.display = 'none';
                document.getElementById('ham').style.display ='block';
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        }

        function mobile(){
            document.getElementById('ham').style.display = 'none';
            document.getElementById('inboxx').style.display ='block'; 
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0; 
        }
        
        function go(){
            if(pri != 0)
                window.location.href = '/'+document.getElementById('name-user').innerHTML;
        }

        function openn(){
            document.getElementById('findValue').style.display='block'
        }
    </script>

</body>
</html>