<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    <link href="/asset/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>

    <div class="navigation">
        <div class="link" onclick="window.location.href='/'" ><i class="fas fa-meteor"></i> Feed</div>
        <div class="link active"><i class="fas fa-people-arrows"></i> Message</div>
        <div class="link"><i class="fas fa-satellite"></i> My question</div> 
        <div class="profile" onclick="document.getElementById('control').style.display='block'">
            <div class="load-img"><div class="profile-img" style="background-image: url('/img/user/<%= data[0].username %>.jpg');"></div></div>
            <div class="profile-name"><%= data[0].username %></div>
        </div>
    </div>

    <div id="control" style="display: none;">
        <div class="user" >
            <div class="control">
                <div class="go-profile" onclick="window.location.href='/<%= data[0].username %>'">
                    <div class="load-img"><div class="control-img" style="background-image: url('/img/user/<%= data[0].username %>.jpg');"></div></div>
                    <div style="padding-left: 20px;">
                        <%= data[0].username %> <br>
                        go to profile
                    </div>
                </div>
                <div class="control-link" onclick="document.getElementById('control').style.display='none'"><i class="fas fa-meteor"></i> Back to feed</div>
                <!-- <div class="control-link"><i class="fas fa-code"></i> tongog API</div> -->
                <!-- <div class="control-link"><i class="fas fa-sliders-h"></i> Setting</div> -->
                <div class="control-link" onclick="window.location.href='/logout'"><i class="fas fa-sign-out-alt"></i> Log out</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="inbox">
            <div class="grid">
              gmemetlg  
            </div>
        </div>
        <div id="root"></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>

</body>
</html>