<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tongog-app | <%= data[0].username %>'s Post</title>
    <link href="/asset/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>
    <div class="navigation">
        <div class="link active"><i class="fas fa-meteor"></i> Feed</div>
        <div class="link"><i class="fas fa-people-arrows"></i> Message</div>
        <div class="link"><i class="fas fa-satellite"></i> My question</div> 
        <div class="profile" onclick="document.getElementById('control').style.display='block'">
            <div class="profile-img" style="background-image: url('/img/user/<%= data[1].username %>.jpg');"></div>
            <div class="profile-name"><%= data[1].username %></div>
        </div>
     </div>
 
     <div id="control" style="display: none;">
         <div class="user" >
             <div class="control">
                 <div class="go-profile">
                     <div class="control-img" style="background-image: url('/img/user/<%= data[1].username %>.jpg');"></div>
                     <div style="padding-left: 20px;">
                         <%= data[1].username %> <br>
                         go to profile
                     </div>
                 </div>
                 <div class="control-link" onclick="document.getElementById('control').style.display='none'"><i class="fas fa-meteor"></i> Back to feed</div>
                 <!-- <div class="control-link"><i class="fas fa-code"></i> tongog API</div> -->
                 <!-- <div class="control-link"><i class="fas fa-sliders-h"></i> Setting</div> -->
                 <div class="control-link" onclick="window.location.href='/logout'"><i class="fas fa-sign-out-alt"></i> Log out</div>
             </div>
         </div>
     </div>

    <div class="container">
        <div class="post">
            <div class="header">
                <div class="back-to-home-page" onclick="window.location.href='<%= data[2].backPage %>'"> <i class="fas fa-chevron-left"></i> <%= data[2].titleReply %></div>
                <div class="post-topic"><b> <i class="fas fa-ellipsis-h" onclick="document.getElementById('status').style.display='block'"></i></b></div>
            </div>

            <span id="reply"></span>

            <div class="post-header">
                <div class="post-img" style="background-image: url('/img/user/<%= data[0].username %>.jpg');"></div>
                <div class="post-name"> <%= data[0].username %> <br> <%= data[0].time %> </div>
            </div>

            <div class="post-content">
                <% if(data[0].subPost < 0) { %> 
                    <div style="font-size: 16px; color: #F4D03F;">[This post has been deleted by <%= data[0].username %>.]</div>
                <% } %> 

                <%= data[0].content %>
            </div>

            <div class="comment"> <%= data[0].comment %> <i class="fas fa-comment"></i> </div>

            <div class="form-comment">
                <div class="form-comment-img" style="background-image: url('/img/user/<%= data[1].username %>.jpg');"></div> 
                <form action="/comment?id=<%= data[0].id %>" id="<%= data[0].id %>" method="post">
                    <input type="text" placeholder="comment.." name="content" required>
                </form>         
                <div class="bunton" onclick="document.getElementById('<%= data[0].id %>').submit();">send</div>
            </div>

            <div id="status" style="display: none;">
                <div class="con-sta">
                    <div class="status">
                        <div class="title">Manage this post</div>
                        <div class="status1"><i class="fas fa-share"></i> Share</div>
                        <div class="Share-head">
                            <div class="Share-head-text">Copy or click the link below to share.</div>
                            <input type="text" id="Share" onclick="getUrl()">
                            <div id="copy" style="color: #46A049;"></div>
                        </div>
                        <% if(data[3].status && data[0].subPost >= 0) { %> 
                            <div class="status1" onclick="document.getElementById('deletew-confirm').style.display='block'"><i class="fas fa-trash"></i> Delete</div>
                            <div class="deletew-confirm" id="deletew-confirm">
                                <div class="deletew-confirm-title" style="color: #d47231;">Are you sure you want to delete this post?</div>
                                <div style="font-size: 16px; text-align: justify;">Deleting this post will make it not appear in the feed or in the comments, but anyone with the link will still be able to access it. According to our policy.</div>
                                <div class="button" onclick="window.location.href='/delete?id=<%= data[0].id %>'"><i class="fas fa-trash"></i> Delete this post</div>
                            </div>
                        <% } %> 
                        <% if(data[3].status && data[0].subPost < 0) { %> 
                            <div class="status1" onclick="document.getElementById('deletew-confirm').style.display='block'"><i class="fas fa-redo-alt"></i> Recovery</div>
                            <div class="deletew-confirm" id="deletew-confirm">
                                <div class="deletew-confirm-title" style="color: #d47231;">Are you sure you want to recovery this post?</div>
                                <div style="font-size: 16px; text-align: justify;">This post has been deleted and has not been shown on feed or comment. If you do recovery, this post will be back to show again.</div>
                                <div class="button" onclick="window.location.href='/delete?id=<%= data[0].id %>'"><i class="fas fa-redo-alt"></i> Recovery this post</div>
                            </div>
                        <% } %>
                        <div class="status1" onclick="document.getElementById('status').style.display='none'"><i class="fas fa-sign-out-alt"></i> Exit</div>
                    </div>
                </div>
            </div>
            <div id="root"></div>
        </div>

    </div>
    <script>
        let count = 3; 
        getComment(count);
        setInterval(function(){ 
            var user = document.documentElement.scrollTop;
            var window = document.body.scrollHeight;
            var h = screen.height;
            if(h + user > window+20){
                count++;
                getComment(count);
            }
        }, 1000);

        setInterval(function(){ 
            getComment(count);
        }, 30000);

        function getComment(limit){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                   document.getElementById("root").innerHTML = xhttp.responseText;
                }
            };
            xhttp.open("GET", '/getComment?id=<%= data[0].id %>&limit='+limit , true);
            xhttp.send();
        }

        getRyply();

        function getRyply(){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                   document.getElementById("reply").innerHTML = xhttp.responseText;
                }
            };

            xhttp.open("GET", '/getContent?id=<%= data[0].subPost %>' , true);
            xhttp.send();
        }

        document.getElementById('Share').value = window.location.href;

        function getUrl(){
            var copyText = document.getElementById("Share");
            copyText.select();
            copyText.setSelectionRange(0, 99999)
            document.execCommand("copy");
            document.getElementById('copy').innerHTML = 'Copied link to clipboard!';
            setTimeout(function(){
                document.getElementById('copy').innerHTML = '';
            },3000)
        }
    </script>
</body>
</html>